<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{{ detail.meta['书名'] }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <script src="../static/js/jquery-2.2.3.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <style>

    </style>
</head>
<body>
    <div>
        {% for key in detail.meta.keys() %}
            <p>{{ key }}:{{ detail.meta[key] }}</p>
        {% endfor %}
    </div>
    </br>
    <div>
        {% for des in detail.des %}
            <p>{{ des }}</p>
        {% endfor %}
    </div>
    </br>
    <div>
        <ul>
            {% for down in detail.downInfo %}
                <li>{{ down['type'] }}:{{ down['link'] }}</li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>